.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    padding-top: 5vh;
}

.count-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.env-container {
    padding: 2vh;
}

.count-text {
    font-size: 26px;
}

.title {
    font-size: 26px;
    padding-top: 2vh;
}

.data {
    font-size: 20px;
}

.container-id {
    font-size: 26px;
}
